PORT=
DB_URL=
JWT_SECRET=

# Konfigurasi Midtrans
MIDTRANS_IS_SANITIZED=true
MIDTRANS_IS_3DS=true
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PROD=false

# Konfigurasi SMTP (Untuk kirim email E-Ticket otomatis)
# Disarankan menggunakan Gmail App Password atau layanan seperti Resend/Brevo
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=